<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>


	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:/configuracion.properties</value>
		</property>
	</bean>

	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName">
			<value>${driver}</value>
		</property>
		<property name="url">
			<value>${url}</value>
		</property>
		<property name="username">
			<value>${username}</value>
		</property>
		<property name="password">
			<value>${password}</value>
		</property>
		<property name="maxActive">
			<value>${maxActive}</value>
		</property>
		<property name="maxWait">
			<value>${maxWait}</value>
		</property>
		<property name="maxIdle">
			<value>${maxIdle}</value>
		</property>
		<property name="defaultReadOnly">
			<value>${defaultReadOnly}</value>
		</property>
		<property name="removeAbandoned">
			<value>${removeAbandoned}</value>
		</property>

	</bean>



	<!-- Hibernate SessionFactory Definition -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">

		<property name="dataSource" ref="dataSource" />

		<property name="mappingResources">
			<list>
				<value>
					es/novasoft/castellon/vfe/business/objects/Organismo.hbm.xml
				</value>
				<value>
					es/novasoft/castellon/vfe/business/objects/Usuario.hbm.xml
				</value>
				<value>
					es/novasoft/castellon/vfe/business/objects/RegistroDocumento.hbm.xml
				</value>
			</list>
		</property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.OracleDialect
				</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.connection.pool_size">40</prop>
				<prop key="hibernate.bytecode.use_reflection_optimizer">
					true
				</prop>
				<prop key="hibernate.cache.provider_class">
					org.hibernate.cache.HashtableCacheProvider
				</prop>
				<prop key="hibernate.format_sql">false</prop>
				<prop key="hibernate.max_fetch_depth">1</prop>
				<prop key="hibernate.default_batch_fetch_size">4</prop>
				<prop key="hibernate.use_sql_comments">true</prop>
				<prop key="hibernate.current_session_context_class">thread</prop>
				<prop key="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</prop>
			</props>
		</property>
	</bean>

	<bean id="hibInterceptor" class="org.springframework.orm.hibernate3.HibernateInterceptor">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- DAO'S  -->

	<bean id="OrganismoDAO" class="es.novasoft.castellon.vfe.business.dao.impl.OrganismoDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="UsuarioDAO" class="es.novasoft.castellon.vfe.business.dao.impl.UsuarioDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="RegistroDocumentoDAO" class="es.novasoft.castellon.vfe.business.dao.impl.RegistroDocumentoDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
</beans> 



